*{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height:100vh;
    background-color: #2e2e2e;
}



.calculatorContainer{
    background-color: rgb(255, 255, 255);
    width:500px;
    min-height:750px;
}

.displayContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    text-wrap: wrap;
    word-break: break-all;
    word-wrap: break-word;
    min-height: 250px;
    padding:15px;
    background-color: #dfdfdf;

}

.displayTop{
    font-size: 25px;
    color:#646464;
}

.displayBottom{
    font-size: 3em;
    max-height: 70%;
    min-height: 1.5em;
}

.calculatorBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border:#ececec 1px solid;
    cursor: pointer;
    font-size: 20px;

}

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr) ); 
    grid-template-rows: 5;
    height: 500px;

}

.span2Col{
    grid-column: span 2;
}

.span2Row{
    grid-row: span 2;
}

footer{
    color:#4e4e4e;
    font-size: 16px;
}